<div class="mt-2 mb-2 clearfix">
  <h5><%= title %></h5>
  <% unless data.blank? %>
    <% unless data[:false].zero? %>
      <div style="width: <%= data[:false] %>%" class="float-left bg-red-200 text-center">False (<%= data[:false] %>%)</div>
    <% end %>
    <% unless data[:true].zero? %>
      <div style="width: <%= data[:true] %>%" class="float-left bg-green-200 text-center">True (<%= data[:true] %>%)</div>
    <% end %>
  <% end %>
</div>
