<div class="mt-4 mb-2 clearfix">
  <div class="my-2 clearfix">
    <h5 class="float-left"><%= title %><h5>
    <span class="float-right rounded-full bg-gray-200 uppercase px-2 py-1 text-xs font-bold mr-3"><%= value %></span>
  </div>
  <% unless value.blank? %>
    <% color = value > 4 ? (value > 8 ? 'green' : 'orange') : 'red' %>
    <div class="bg-<%= color %>-100 border border-<%= color %>-400 text-<%= color %>-700 px-4 py-3 rounded relative" role="alert">
      <%= range_field_tag :agenda, value, in: 0..10, step: 0.1, disabled: true %>
    </div>
  <% end %>
</div>
