<div class="max-w-full rounded overflow-hidden shadow-lg">
  <div class="px-6 py-4">
    <h1 class="font-bold mb-2"><%= @meeting.title %></h1>
    <p class="text-gray-700 text-base mt-4">
      Review this meeting!
    </p>
    <%= form_with scope: :review, url: meeting_reviews_path(@meeting.share_slug), local: true do |form| %>
      <%= form.label :usefulness %>
      <%= form.number_field :usefulness %>
      <%= form.label :agenda_met %>
      <%= form.number_field :agenda_met %>
      <%= form.label :on_topic %>
      <%= form.number_field :on_topic %>
      <%= form.label :improvements %>
      <%= form.text_field :improvements %>
      <%= form.label :other_comments %>
      <%= form.text_field :other_comments %>
      <%= form.submit class: "mt-4" %>
    <% end %>
  </div>
</div>

