<!DOCTYPE html>
<html>
  <head>
    <title>UselessMeeting</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_pack_tag 'application' %>
  </head>

  <body class="text-gray-700 leading-normal mt-24 mb-24">
    <div class="w-full max-w-screen-xl mx-auto px-6">
      <%= yield %>
    </div>
  </body>
</html>
