<!DOCTYPE html>
<html>
  <head>
    <title>UselessMeeting</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_pack_tag 'application' %>
  </head>

  <body class="text-gray-700 leading-normal mt-24 mb-24">
    <div class="w-full max-w-screen-xl mx-auto px-6">
      <% if flash[:notice] %>
        <%= render partial: 'layouts/notice', locals: { message: flash[:notice] } %>
      <% end %>

      <% if flash[:error] %>
        <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 mb-4 rounded relative" role="alert">
          <strong class="font-bold">Holy smokes!</strong>
          <span class="block sm:inline"><%= flash[:error] %></span>
        </div>
      <% end %>
      <div class="max-w-full rounded overflow-hidden shadow-lg">
        <div class="px-6 py-4">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
